@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

/* Basic */

body{
	color: white;
	background: #af2f9a;
	width: 600px;
	margin: 5% auto;
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	/*letter-spacing: -0.025em;*/
}

h1, h2, h3, h4 {margin-bottom: 0.5em; clear: both;}
p {margin-top: 0;}

a {
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:hover {
		border-color: transparent;
}

img {width: 100px; margin: 0 1em 1em 0;}

ul {list-style-type: circle;}
li {margin: 0 0 1em 0; text-align: left; clear:both;}

.fb-like-box {vertical-align: middle; width: 65%;}

#footer {
	bottom: 0;
	cursor: default;
	height: 6em;
	left: 0;
	line-height: 8em;
	text-align: center;
	width: 100%;		
}		